include:
  - 'https://gitlab.com/colisweb-open-source/ci-common/raw/v9.1.1/templates/scala.yml'

test approvals-scala:
  extends: .sbt-test
  tags: []
  before_script: []

unused-dependencies:
  extends: .sbt-unused-dependencies
  tags: []
  before_script: []

version:
  extends: .version
  tags: []

publish on bintray:
  extends: .bintray-publish
  tags: []
  variables:
    BINTRAY_USER: tyrcho
